.bigCounter {
    text-align: center;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.bigCounter div{
    display: inline-block;
    font-size: 120px;
    line-height: 102px;
    background: #101010;
    color: white;
    padding: 15px;
    margin: 3px;
}